.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.popup-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.popup-container {
  background-image: url(../img/bg-underlay-popup.png);
  background-origin: border-box;
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 30px 60px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: auto;
}

.popup-close {
  padding: 0 1px;
  gap: 10px;
  background: #fff;
  border: none;
  color: #000;
  font-size: 2rem;
  grid-row: 1fr;
  grid-column: 1 / 2;
  height: 40px;
  width: 100px;
}

.popup-content {
 display: grid;
 grid-column: 2 / 4;
 grid-row: 2;
}

.popup-title {
  font-family: "Basquit-title", sans-serif;
  font-size: 6.159rem;
  margin: 0 0 16px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000;
  padding-right: 60px;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.popup-body {
  font-size: 1.618rem;
  line-height: 1.4;
  color: #000;
  font-family: "IBM Plex Mono", monospace;
  grid-column: 3 / 4;
  grid-row: 1 / 1;
}
.scroll {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 20px;
  margin-top: 40px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  color: #6479A1;
  height: auto;
}

.scroll img {
  height: 65px;
}

.scroll span {
  font-family: "Basquit-title", sans-serif;
  font-size: 1.942rem;
  text-decoration-line: line-through;
}

.gallery-content {
  display: grid;
  border: 1px solid #000;
  height: auto;
  justify-content: start;
  grid-row: 4/4;
}

.gallery img {
  width: 100%;
  height: auto;
}
