* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --graffiti-font: 'BASQUIAT-WORD';
}

@font-face {
  font-family: 'BASQUIAT-TITLE';
  src: url('../../public/fonts/BASQUIAT-TITLE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BASQUIAT-WORD';
  src: url('../../public/fonts/BASQUIAT-WORD.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

a {
  color: inherit;
}

html { font-size: 12px; }

img,
video {
  display: block;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
}

h1, h2, h3, h4 {
  font-family: 'BASQUIAT-WORD', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.article > p {
  font-family: 'BASQUIAT-WORD', sans-serif;
  font-weight: normal;
  font-style: normal;
}

span, a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

header {
  font-size: 25px;
  color: white;
  position: fixed;
  z-index: 200;
  display: flex;
  gap: 10px;
  padding: 30px 30px;
  align-items: center;
  -webkit-text-stroke: 3px black;
  paint-order: stroke fill;
}

header img {
  height: 60px;
  width: auto;
  object-fit: contain;
}

h3 {
  font-size: 25px;
}

.instructions {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
  z-index: 100;
  pointer-events: none;
}

.instructions h1 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  letter-spacing: 1px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: lowercase;
  line-height: 1;
}

body {
  cursor: none;
}