* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --graffiti-font: 'BASQUIAT';
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;

}

a {
  color: inheriе;
}

html { font-size: 12px; }

img,
video {
  display: block;
}

main{
  width: 100%;
  height: 100vh;
  position: relative;
  
}

@font-face {
  font-family: 'BASQUIAT-TITLE';
  src: url('../../public/fonts/BASQUIAT-TITLE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1, h2, h3, h4 {
  font-family: 'BASQUIAT-TITLE', sans-serif;
}

@font-face {
  font-family: 'BASQUIAT-WORD';
  src: url('../../public/fonts/BASQUIAT-WORD.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ibm-plex-mono-regular{
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: regular;
}
.article > p {
  font-family: 'BASQUIAT-WORD', sans-serif;
}

span, a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.article span,
.article a {
  font-family: 'BASQUIAT-TITLE', sans-serif;
}

header {
  color: white;
  position: fixed;
  z-index: 10;
  display: flex;
  gap: 10px;
  padding: 30px 60px;
  position: fixed;
  z-index: 200;
  display: flex;
  align-items: center;
}

header img {
  height: 60px;
  width: auto;
  object-fit: contain;
}

h3 {
  font-size: 25px;
}
