* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;

}

a {
  color: inheriе;
}

img,
video {
  display: block;
}

@font-face {
  font-family: 'GroteskRemix';
  src: url('public/fonts/GroteskRemix/GroteskRemix-trial-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1,p {
  font-family: 'GroteskRemix', sans-serif;
}
main{
  width: 100%;
  height: 100vh;
  position: relative;
}
